<style> 
  .animated-all-transition-05s {
    transition: all 0.5s ease;
  }
  
  .otus-file-upload-box {
    border: 1.2px dashed silver;
    background-color: #f8f8f8;
    padding: 10px;
  }
  .otus-file-upload-box.button-only {
    padding: 10px;
  }
  .otus-file-upload-box.draghover {
    border-color: blue;
    background-color: #e3e1fa; 
  }
  .otus-file-upload-box:focus {
    outline: none;
  }

  .otus-file-upload-title {
    /* margin: 5px; */
  }
  .disable .otus-file-upload-title {
    color: #8c8c8c;
  }
  .otus-file-upload-subtitle {
    margin-top: 5px;
    font-size: .9em;
    color: #8c8c8c;
  }
  .otus-file-upload-accept{
    font-size: .9em;
    color: #8c8c8c;
  }

  .file-upoad-button {
    /* margin: 10px; */
  }
</style>
<div 
  ng-if="!$ctrl.disableDrop"
  drop-file 
  multiple-files="$ctrl.multipleFiles" 
  files="$ctrl.files" 
  disable="$ctrl.disable"
  individual-validation-function="$ctrl.individualValidationFunction"
  extension-array="$ctrl.extensionArray"
  function-when-select-files="$ctrl.functionWhenSelectFiles"
  ng-class="($ctrl.disable? ' disable ' : '') + ($ctrl.buttonOnly? ' button-only ' : '') + ' otus-file-upload-box animated-all-transition-05s'"
  layout="column" layout-align="center center" 
  ng-click="$ctrl.upload()"
>
  <span ng-if="!$ctrl.buttonOnly && $ctrl.dropTitle.length" class="otus-file-upload-title">{{$ctrl.dropTitle}}</span>
  <span ng-if="!$ctrl.buttonOnly && $ctrl.subtitle.length" class="otus-file-upload-subtitle">{{$ctrl.subtitle}}</span>
  <md-button id="otusFileUploadButton" ng-class="$ctrl.buttonClass + ' md-fab file-upoad-button'" ng-disabled="$ctrl.disable">
    <md-icon md-font-set="material-icons">{{$ctrl.buttonIcon}}</md-icon>
    <md-tooltip md-direction="{{$ctrl.buttonTooltipDirection}}">{{$ctrl.buttonTooltip + ($ctrl.buttonOnly ? ' - ' + $ctrl.accept : '')}}</md-tooltip>
  </md-button>
  <span ng-if="!$ctrl.buttonOnly && $ctrl.accept.length" class="otus-file-upload-accept">{{$ctrl.formatInfoLabel + ' ' + $ctrl.accept}}</span>
</div>

<div ng-if="$ctrl.disableDrop">
  <md-button id="otusFileUploadButton" ng-class="$ctrl.buttonClass + ' md-fab'" ng-disabled="$ctrl.disable" ng-click="$ctrl.upload()">
    <md-icon md-font-set="material-icons">{{$ctrl.buttonIcon}}</md-icon>
    <md-tooltip md-direction="{{$ctrl.buttonTooltipDirection}}">{{$ctrl.buttonTooltip + ' - ' + $ctrl.accept}}</md-tooltip>
  </md-button>
</div>
