<style>
  .file-upload {}

  .file-upload-title {
    margin: 5px;
  }

  .file-upload-subtitle {
    opacity: 0.5;
    font-size: .9em;
    margin: 5px;
  }

  .file-upload-box {
    border: 2px dashed silver;
    background-color: rgba(75, 75, 75, 0.01);
    padding: 20px;
    padding-bottom: 30px;

    width: 400px;
  }

  .animated-all-transition {
    transition: all 0.5s ease;
  }

  .file-upload-box.draghover {
    border-color: blue;
    background-color: rgba(0, 0, 250, 0.1);
    
  }


  .file-upoad-button {
    position: relative;
    top: -36px;
    
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave {
    transition: all ease 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity: 0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity: 1;
  }
</style>
<div flex>

  <md-button ng-click="$ctrl.fileTitle.length ? $ctrl.fileTitle = '' : $ctrl.fileTitle='...'" class="md-raised md-primary">
    Seleciona/Deseleciona
  </md-button>

  <div layout="column" layout-align="center center" class="file-uplopad">
    <div drop-file propagate-to-children="true" class="file-upload-box animated-all-transition"
      layout="column" layout-align="center center" flex="50">
      <span ng-if="!$ctrl.fileTitle.length" class="file-upload-title animate-if">{{$ctrl.title}}</span>
      <span ng-if="!$ctrl.fileTitle.length" class="file-upload-subtitle animate-if">{{$ctrl.subtitle}}</span>
    </div>
    <md-button ng-if="!$ctrl.fileTitle.length" class="md-fab md-primary file-upoad-button animate-if">
      <md-icon md-font-set="material-icons">file_upload</md-icon>
      <md-tooltip md-direction="right">{{$ctrl.buttonTooltip}}</md-tooltip>
    </md-button>

  </div>


  <div layout="column">
    <!-- <dynamic-data-table flex 
      headers="$ctrl.dynamicTableSettings.headers"
      elements-array="$ctrl.dynamicTableSettings.elementsArray"
      elements-properties="$ctrl.dynamicTableSettings.elementsProperties"
      callback-after-change="$ctrl.dynamicTableSettings.callbackAfterChange"
      table-update-function="$ctrl.dynamicTableSettings.tableUpdateFunction"
      table-title="$ctrl.dynamicTableSettings.tableTitle"
      order-indices="$ctrl.dynamicTableSettings.orderIndices"
      number-fields-aligned-left="$ctrl.dynamicTableSettings.numberFieldsAlignedLeft"
      flex-array="$ctrl.dynamicTableSettings.flexArray"
      format-data="$ctrl.dynamicTableSettings.formatData"
      format-data-properties-array="$ctrl.dynamicTableSettings.formatDataPropertiesArray"
      format-data-index-array="$ctrl.dynamicTableSettings.formatDataIndexArray"
      
      disable-checkbox="$ctrl.dynamicTableSettings.disableCheckbox"
      disable-filter="$ctrl.dynamicTableSettings.disableFilter"
      disable-reorder="$ctrl.dynamicTableSettings.disableReorder"
      disable-pagination="$ctrl.dynamicTableSettings.disablePagination"
      selected-color="$ctrl.dynamicTableSettings.selectedColor"
      hover-color="$ctrl.dynamicTableSettings.hoverColor"
      
      markup-attribute="$ctrl.dynamicTableSettings.markupAttribute"
      select-unselect-function="$ctrl.dynamicTableSettings.selectUnselectFunction"
      button-function-array="$ctrl.dynamicTableSettings.buttonFunctionArray"
    > -->
    
    <dynamic-data-table flex 
      dynamic-table-settings="$ctrl.dynamicTableSettings"
    >
    </dynamic-data-table>

    <br>

    <md-button class="md-icon-button">
      <md-icon md-font-set="material-icons">file_upload</md-icon>
      <md-tooltip md-direction="right">{{$ctrl.buttonTooltip}}</md-tooltip>
    </md-button>
  </div>
</div>